:root {
  --main-color: #14aa35;
  --second-main-color: #14cd3d;
}

/* section-1 */
.section-2 .view {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.section-2 .view p.p-7 {
  font-size: 16px;
  color: #777;
}

footer {
  margin-top: 41.7rem !important;
}