
/* section-1 */
.section-1 {
  background-color: #c9c9c92e;
}

.section-1 .box {
  width: 85%;
  margin-bottom: 2rem;
}

@media (max-width: 767.98px) {
  .section-1 .box {
    width: 100%;
  }

  .section-1 .box .more {
    margin: auto;
  }
}

.section-1 .box .p-7 {
  color: #e8e8e8;
  font-size: 13px;
}
video{
border-radius: 10px;
}

.section-1 .box .more {
  text-align: center;
  text-decoration: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  width: 10rem;
  border-radius: 2rem;
  border: 1px solid var(--main-color);
  box-shadow: none !important;
}

.section-1 .box .more:hover {
  background-color: var(--second-main-color);
  border: 1px solid var(--second-main-color);
}

.section-1 img.arrow {
  position: absolute;
  left: 0rem;
  font-size: 10px !important;
  top: -3rem;
  width: 4.5rem;
}

/* section-1 */

/* section-2 */
.section-2 .p-7 {
  color: #707070;
  font-size: 15px;
  width: 80%;
  line-height: 2;
}

@media (max-width: 767.98px) {
  .section-2 .p-7 {
    width: 100%;
  }
}

/* section-2 */

/* section-3 */
.section-3 {
  background-color: #a6a6a61f;
}

.section-3 .box ol::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: #f3f3f3;
  right: 3.1rem;
  top: 0;
  z-index: -1;
}

.section-3 .box ol li {
  list-style-type: none;
  counter-increment: step-counter;
  margin-bottom: 4rem;
  font-size: 19px;
}

.section-3 .box ol li:before {
  content: counter(step-counter) " ";
  background-color: var(--main-color);
  color: white;
  padding: 4px 8px 4px 4px;
  border-radius: 50%;
  outline: 7px solid #1b1b5c40;
  margin-left: 1.5rem;
  font-size: 14px;
  cursor: pointer;
}

.section-3 .box ol li .p-8 {
  display: inline;
}

@media (max-width: 575.98px) {
  .section-3 .box ol::before {
    display: none;
  }
}

/* section-3 */

/* section-4 */
.section-5 {
  background-color: #a6a6a61f;
  margin-top: 7rem;
}

.section-5 .box .image .instructor {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}
.section-5 .box .a-1 {
  width: 7.5rem;
  margin: auto;
  text-decoration: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  box-shadow: none;
  border-color: var(--main-color);
  font-size: 13px;
}
.section-5 .box .a-1:hover {
  background-color: var(--second-main-color);
}
.section-5 .box-1 p.p-7 {
  color: #707070;
  width: 80%;
  line-height: 2;
}

@media (max-width: 767.98px) {
  .section-5 .box-1 p.p-7 {
    width: 100%;
    text-align: center;
  }
}

/* section-4 */

/* section-4 */
.section-4 .color {
  background-color: #a6a6a61f;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

/* box-4 */
.section-4 .box-4 .content {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
}

.section-4 .box-4 .content-1 {
  display: flex;
  justify-content: space-between;
  padding: 0 35px 0 45px;
  align-items: center;
}

.section-4 .box-4 .content-1 .comment {
  display: flex;
}

.section-4 .box-4 .content-1 .comment img.man {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-left: 2rem;
}

.section-4 .box-4 .content-1 .comment p.p-12 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 9px;
}

.section-4 .box-4 .content-1 .comment p.p-13 {
  font-size: 15px;
  color: #5f5f5fd4;
}

@media (max-width: 575.98px) {
  .section-4 .box-4 .content-1 .comment img.man,
  .section-4 .box-4 .add-comment .man {
    margin-left: 0 !important;
  }
}

/* css foe emoji*/

/* section-4 */


/* Communication */
.Communication .fb-img img {
    position: fixed;
    bottom: 70px;
    left: 35px;
    width: 40px;
    z-index: 100000;
  }
  .Communication .what-img img {
    position: fixed;
    bottom: 20px;
    left: 35px;
    width: 40px;
    z-index: 100000;
  } /* Communication */
