:root {
  --main-color: #14aa35;
  --second-main-color: #14cd3d;
}

.section-setting a.link:nth-child(3) {
  color: var(--main-color);
  border: 1px solid #85858566 !important;
  font-weight: 400;
  border-bottom-color: #00000005 !important;
}

.section-setting a.link:first-child {
  border-bottom: 1px solid #00000001 !important;
  color: black !important;
  border: 1px solid;
  font-weight: 400;
  border-color: #85858566;
}

textarea.textarea-1 {
  resize: none;
  width: 80%;
  background-color: #0000000f;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 13px 10px;
}

@media (max-width: 330px) {
  textarea.textarea-1 {
    width: 100%;
  }
}

@media (min-width: 330px) and (max-width: 576px) {
  textarea.textarea-1 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .image-div {
    display: block;
    align-items: center;
  }

  .form-control[type="file"]:not(:disabled):not([readonly]) {
    cursor: pointer;
    font-size: 15px;
  }

  img.img--div {
    margin-bottom: 1rem;
  }
}

.btn--1 input.btn__1 {
  background-color: var(--main-color);
  color: white;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
}

.btn--1 input.btn__1:hover {
  background-color: var(--second-main-color);
}
